<button mat-icon-button (click)="useSelectTool()" matTooltip="Select tool" matTooltipPosition="right"><mat-icon svgIcon="cursor_select"></mat-icon></button>
<button mat-icon-button (click)="addArea()" matTooltip="Add area" matTooltipPosition="right"><mat-icon>add_location</mat-icon></button>
<button mat-icon-button matTooltip="TODO" matTooltipPosition="right"><mat-icon>color_lens</mat-icon></button>
<button mat-icon-button (click)="resetState()" matTooltip="Reset everything" color="warn" matTooltipPosition="right"><mat-icon>delete_forever</mat-icon></button>
