@import '~@angular/material/theming';

@mixin area-details-editor-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  app-area-details-editor {
    background-color: mat-color($primary);
    color: mat-color($foreground, text);
  }
}
