<svg:polygon class="app-area" [ngClass]="{'active': active}" [attr.points]="svgPoints" />
<ng-template *ngIf="editing" ngFor let-i="index" let-point [ngForOf]="points">
  <svg:circle *ngIf="active" class="app-drag-circle" [ngClass]="{'grabbing': movingPoint | async}" (mousedown)="initMove($event, i)"
    (contextmenu)="deletePoint($event, i)" [attr.cx]="point.x" [attr.cy]="point.y" r="2" fill="red" />
  <svg:text *ngIf="(debugMode | async) && active" class="region-text" [attr.x]="point.x" [attr.y]="point.y">{{i}}</svg:text>
</ng-template>
