@import '~@angular/material/theming';

.app-area {
  @include mat-elevation-transition;
  @include mat-elevation(0);
  fill: rgba(128, 128, 128, 0.336);
  stroke: blue;
  stroke-dasharray: 2px 4px;
  stroke-width: 0.55px;
  animation: dash 8s linear infinite;
}

.app-drag-circle {
  cursor: pointer;
}

@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
