@import '~@angular/material/theming';
:host {
  display: grid;
  grid-template-areas: "sidebar entity-toolbar" "sidebar map" "sidebar debug-info";
  grid-template-columns: 48px auto;
  grid-template-rows: 40px auto 32px;
}

.app-map-container {
  overflow: hidden;
  margin: 8px;
  grid-area: map;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-debug-info {
  grid-area: debug-info;
}

.app-map {
  @include mat-elevation(4);
  border: 1px solid #a4a2a266;
  border-radius: 4px;
}

.entity-toolbar {
  grid-area: entity-toolbar;
}

.sidebar {
  grid-area: sidebar;
}

.crosshair {
  cursor: crosshair;
}

.grabbing {
  cursor: grabbing;
}
